
.shop-home-icon {
    color: #ef4a23;
    font-size: 20px;
}

.shop-header {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 20px #d5d5d5;
}

.shop-header select {
    width: 100px;
    font-family: Tahoma;
    padding: 5px 0px;
}

.base-shop-content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 20px #d5d5d5;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 10px;
}

@media only screen and (max-width: 768px) {
    .base-shop-content {
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    }
}